.NavBar{
   
    border-radius:20px;
    
}


.NavBar:hover{
    background-color:rgb(255,0,212);
    border-radius:5px;
}

.NavDropdown:hover {
    display: block;
}
.links{
    background-color:rgb(255,0,212);
    border-radius:1px;
}
.links:hover{
   
    background-color:teal;
    
}