

img.rightArrow{
    width:70%;
  -webkit-animation: 3s linear infinite condemned_blink_effect; 
  animation: 1.5s linear infinite condemned_blink_effect;

}

@keyframes condemned_blink_effect {
0% {
visibility: hidden;
}
25% {
visibility: hidden;
color: yellow;
text-shadow: 2px 2px white;
}
50% {
visibility: hidden;
color:red;
text-shadow: 2px 2px white;
}
100% {
visibility: visible;
color:orange;
text-shadow: 2px 2px white;
}
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(255,118,228); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left:30rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}