.form{
  text-align:center;
  background:black;
  color:pink;
  display:flex;
  justify-content:space-evenly;
  
}

.form input[type='text']:hover{
  background:pink;
  border-radius: 5px;
}


img.rightArrow{
    
  -webkit-animation: 3s linear infinite condemned_blink_effect; 
  animation: 1.5s linear infinite condemned_blink_effect;

}

@keyframes condemned_blink_effect {
0% {
visibility: hidden;
}
25% {
visibility: hidden;
color: yellow;
text-shadow: 2px 2px white;
}
50% {
visibility: hidden;
color:red;
text-shadow: 2px 2px white;
}
100% {
visibility: visible;
color:orange;
text-shadow: 2px 2px white;
}
}